*,
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Comic Neue", cursive;
  background-color: #c8c8c8;
  color: #282828;
}

::selection {
  background-color: #282828;
  color: #c8c8c8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #282828; 
}

/* Cores */
/* Preto: #282828 */
/* Cinza: #c8c8c8 */

/* Menu responsivo */

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 24px 24px;
  background-color: transparent;

  position: fixed;
  z-index: 2;
}

.menu-right {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.menu-left {
  background-color: transparent;
}

img {
  background: transparent;
}

@media screen and (max-width: 1150px) {
  .menu-right {
    display: none;
  }

  .menu {
    position: absolute;
  }

  .container-header{
    position: relative;
  }
}

/* Textos */

a {
  text-decoration: none;
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
  background: transparent;
  outline: none;
}

.light {
  font-weight: normal;
}

.btn {
  font-weight: normal;
}

.resp {
  display: none;
}

label {
  padding-top: 24px;
  font-size: 24px;
}

select {
  border-bottom: 1px solid #282828;
  padding: 10px;
  font-size: 24px;
  outline: none;
}

p,
li {
  font-size: 16px;
}

p,
h3,
li {
  background: transparent;
}

h3,
p {
  padding: 0px 0px 8px;
}

h3 {
  font-size: 24px;
}

h1 {
  font-size: 54px;
  background: transparent;
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 48px;
    padding: 15px;
    justify-content: center;
    text-align: center;
  }

.resp {
  display: flex;
  align-items: center;
  justify-content: center;
}

}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 32px;
  }
}

/* Body */

.container {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.container-header {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img-header {
  width: 100%;
  height: 85%;
  background-size: contain;
  -webkit-mask-image: linear-gradient(to top, transparent .5%, #c8c8c8 50%);
}

.img-header-resp {
  width: 100%;
  height: 85%;
  background-size: contain;
  display: none;
  -webkit-mask-image: linear-gradient(to bottom, transparent .5%, #c8c8c8 50%);
}

.title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

@media screen and (max-width: 1200px){
  .img-header{
    -webkit-mask-image: linear-gradient(to bottom, transparent .5%, #c8c8c8 50%);
  }
}

@media screen and (max-width: 1150px) {
  .container {
    margin: 0 auto;
    flex-direction: column;
    text-align: left;
    padding: 0;
    width: 100%;
  }

  .texto {
    width: auto;
  }

  .container-header {
    margin-top: 0;
  }

  .img-header {
    display: none;
  }

  .img-header-resp {
    display: flex;
  }
}

.sobre {
  display: flex;
  width: 80%;
  padding: 24px;
  flex-direction: column;
  background: transparent;
}

.sobre2 {
  display: flex;
  width: 80%;
  padding: 24px;
  flex-direction: column;
  background: transparent;
}

.texto {
  width: 80%;
  text-align: left;
  z-index: 1;
  background: transparent;
}

.texto2 {
  width: 80%;
  text-align: right;
  z-index: 1;
  background: transparent;
}

.img-resp, .img-resp-1 {
  display: none;
}

.img-titans {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 150px;
}

.img1 {
  width: 60%;
  margin-top: 10px;
  transform: translateY(-110px) translateX(-210px);
}

.img3 {
  width: 50%;
  margin-top: 10px;
  transform: translateY(-110px) translateX(-210px);

}

.img2, .img4 {
  width: 50%;
  margin-top: 10px;
  margin-right: 0;
  transform: translateY(-110px) translateX(520px);
}



@media screen and (max-width: 1200px) {
  .container {
    width: 300px;
    flex-direction: column;
  }

  .sobre,
  .sobre2 {
    width: auto;
    margin: 0 auto;
  }

  .texto, .texto2 {
    width: auto;
    margin: 0;
    z-index: 0;
    text-align: left;
  }


  .img-titans{
    margin: 0 auto;
    justify-content: center;
  }

  .img-resp {
    width: 130%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(0px);
  } 
  
  .img1, .img2, .img3, .img4 {
    display: none;
  }

  .img-resp-1 {
    width: 130%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(0px);
  }

}

/* Forms */

.container-header-forms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 24px 24px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-right: 32px;
}

input {
  outline: none;
  padding: 10px;
  font-size: 24px;
  border-bottom: 0.5px solid #282828;
}

.input {
  outline: none;
  padding: 10px;
  font-size: 24px;
  border-bottom: 0.5px solid #282828;
}

.muralha {
  padding: 40px 40px;
  width: 600px;
  margin-left: 100px;
  margin-top: 40px;
}

.btn {
  width: 200px;
  height: 40px;
  margin-top: 15px;
  border: 1px solid #282828;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}


@media screen and (max-width: 1170px) {
  .container-header-forms {
    flex-direction: column;
    margin-top: 20px;
  }

  .forms {
    width: auto;
  }

  .menu {
    position: relative;
  }

  .muralha {
    width: auto;
    margin: 0 auto;
  }

  .img-muralha {
    width: 300px;
  }
}


footer {
  width: 70%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.text-left{
  align-items: left;
}

.text-right {
  text-align: right;
}

.a-footer{
padding: 0px 0px 8px;
font-size: 16px;
font-weight: normal;
}

@media screen and (max-width: 1170px){
  footer {
    display: grid;
    width: 300px;
    margin-top: 30px;
    align-items: center;
  }

  .text-right, .text-left {
    text-align: left;
    padding: 10px;
  }

}